#mainDoctorSection {
  & .date-input-container {
    input {
      margin-top: 5px;
      border: none;
      border-bottom: 2px solid $main-blue;
      padding: 0.4rem 0.75rem;
      &:focus-visible {
        outline: 2px solid $main-blue;
        border-radius: 25px;
      }
    }
  }
  & .add-event-btn {
    margin-top: 20px;
    padding: 0.5rem 1rem;
    border: transparent;
    border-radius: 25px;
    background-color: $dark-green;
    color: $white;
    &:hover {
      background-color: $my-gray;
    }
    &:focus {
      box-shadow: 0px 0px 10px 1px $my-gray;
    }
  }
  & .rbc-calendar {
    height: 550px;
    max-width: 100%;
    & .rbc-toolbar {
      margin-bottom: 20px;
    }
    & .rbc-month-view {
      border: transparent;
      background-color: rgba($light-sand, 30%);
      padding: 10px;
      & .rbc-header {
        border-bottom: 1px solid $white;
        color: $dark-sand;
      }
      & .rbc-month-row + .rbc-month-row {
        border-top: 1px solid $white;
      }
    }
    & .rbc-date-cell {
      padding: 10px;
      color: $dark-green;
      & > button:hover {
        background-color: $white;
        border-radius: 100%;
        cursor: pointer;
      }
    }
    & .rbc-today {
      background-color: rgba($dark-sand, 30%);
    }
    & .rbc-day-bg + .rbc-day-bg {
      border-left: 1px solid $white;
    }

    & .rbc-off-range-bg {
      background-color: rgba($my-gray, 30%);
    }
  }
  & .rbc-btn-group button {
    border: none;
    color: $main-blue;
    &:hover {
      background-color: rgba($light-sand, 30%);
      border-radius: 25px;
    }
    &:focus,
    &.rbc-active {
      background-color: rgba($light-sand, 30%);
      border-radius: 25px;
    }
    &:active {
      background-color: $dark-green;
      color: $white;
    }
  }
  & .rbc-toolbar-label {
    color: $dark-green;
    text-transform: uppercase;
    font-weight: bold;
  }
  & .rbc-event {
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    margin: 0;
    padding: 2px 5px;
    background-color: $dark-green;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    width: 100%;
    text-align: left;
    & .rbc-event-content {
      font-size: 0.5rem;
    }
  }
  & .rbc-time-header {
    display: none;
  }
  & .rbc-label {
    font-size: 0.8rem;
    color: $dark-sand;
  }
  &
    div.rbc-agenda-content
    > table.rbc-agenda-table
    > tbody
    > tr:nth-child(odd) {
    background-color: rgba($light-sand, 30%);
  }
  & .rbc-header {
    color: $dark-sand;
  }
  & .rbc-agenda-view table.rbc-agenda-table {
    border: $white;
  }
  & .react-datepicker__header:not(.react-datepicker__header--has-time-select) {
    background-color: rgba($light-sand, 30%);
  }
  & .react-datepicker__day--selected {
    border-radius: 25px;
    background-color: $dark-sand;
  }
  & .react-datepicker__day:hover {
    border-radius: 25px;
    background-color: $light-sand;
    color: $white;
  }
  &
    .react-datepicker-popper[data-placement^="bottom"]
    .react-datepicker__triangle::after {
    border-bottom-color: #f8eee7;
  }
  & .react-datepicker-popper {
    z-index: 50;
  }
  & .react-datepicker__current-month,
  .react-datepicker__day-name {
    color: $dark-sand;
  }
  & .react-datepicker__navigation {
    border-color: $dark-sand;
    top: 14px;
    &:hover *::before {
      border-color: $dark-sand;
    }
  }
}
