@import "./singlePatientCardStyle.scss";

#DoctorsPatientsSection {
  & h2 {
    color: $dark-green;
    font-weight: bold;
  }
  & .my-search-btn {
    color: $dark-green;
    border-color: none;
    border-radius: 100%;
    &:hover {
      color: $white;
      background-color: $dark-green;
      border-color: $dark-green;
      border-radius: 100%;
    }
  }

  & .btn-show-hide {
    color: $dark-green;
    background-color: $light-sand;
    &:hover {
      color: $white;
      background-color: $my-gray;
    }
  }
}
