@import "./singlePatientCardStyle.scss";

#DoctorsPatientsSection {
  & h2 {
    color: $dark-green;
    font-weight: bold;
  }
  & .my-form-control:focus-visible {
    @include search-filter-input;
  }
  & .my-search-btn {
    color: $dark-green;
    border-color: none;
    border-radius: 100%;
    &:hover {
      color: $white;
      background-color: $dark-green;
      border-color: $dark-green;
      border-radius: 100%;
    }
  }

  & .btn {
    &:focus {
      -webkit-box-shadow: 0px 0px 10px 1px $my-gray;
      box-shadow: 0px 0px 10px 1px $my-gray;
    }
    &.btn-show-hide {
      color: $white;
      background-color: $dark-green;
      border-radius: 100px;
      padding: 0.8rem 1.2rem;
      &:hover {
        color: $white;
        background-color: $my-gray;
      }
    }
  }
}
