#home {
  .position-relative {
    position: relative;
  }
  .img-bg {
    width: 100%;
  }
  /*  .img-bg-2 {
    height: 20%;
  } */
  .my-logo-home {
    position: absolute;
    @media screen and (min-width: 768px) {
      top: 30px;
      left: 140px;
      width: 85px;
      height: 85px;
    }
    @media screen and (min-width: 992px) {
      top: 70px;
      left: 200px;
      width: 100px;
      height: 100px;
    }
  }
  h1 {
    position: absolute;
    top: 25px;
    left: 15px;
    color: $dark-sand;
    font-size: 30px;
    @media screen and (min-width: 768px) {
      top: 62px;
      left: 210px;
      font-size: 40px;
    }
    @media screen and (min-width: 992px) {
      top: 120px;
      left: 296px;
    }
  }
  h3 {
    color: $main-blue;
  }
  span.highlight-text {
    font-size: 30px;
    font-weight: bold;
  }
  .spot-subtitle {
    @media screen and (min-width: 992px) {
      position: absolute;
      top: 180px;
      left: 200px;
      text-align: left !important;
      margin-top: 0px !important;
      background-color: rgba($light-sand, 30%);
      padding: 10px;
    }
    & h5 {
      line-height: 1.6;
    }
  }
  .sub-section-bg {
    background-color: rgba($light-sand, 30%);
  }
  .sub-section-bg-single {
    background-color: rgba($light-sand, 30%);
    height: 160px;
    @media screen and (min-width: 992px) {
      height: 200px;
    }
  }
  .white-space {
    height: 60px;
  }
  #exampleInputEmail1 {
    margin-left: auto;
    &:focus-visible {
      outline: 2px solid $main-blue;
      border-radius: 25px;
    }
  }
  .send-mail-form-container {
    position: relative;
    & .send-mail-icon {
      position: absolute;
      top: 9px;
      right: 5px;
      color: $main-blue;
    }
  }
  .home-bg-img {
    position: absolute;
    z-index: -1;
    @media screen and (max-width: 766px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      visibility: visible;
      top: 2336px;
      height: 23%;
      left: -134px;
    }
    @media screen and (min-width: 992px) {
      top: 1371px;
      height: 97.5%;
      left: -484px;
    }
  }
}
