#add-patient-section {
  & .new-patient-form {
    border: none;
    border-bottom: 1px solid $black;
  }
  & .submit {
    background-color: $light-sand;
    border-radius: 25px;
    border: none;
    padding: 10px 15px;
    color: $dark-green;
    &:hover {
      color: $dark-sand;
      background-color: rgba($main-blue, 30%);
    }
    &:focus {
      background-color: $main-blue;
      color: $white;
    }
  }
}
