#add-patient-section {
  position: relative;
  & #logo-form img {
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 2px;
  }
  & form {
    background-color: rgba($light-sand, 30%);
    padding: 50px 80px 50px 80px;
    border-radius: 25px;
    .invalid-feedback {
      color: red;
      margin-top: -25px;
      padding-bottom: 15px;
      padding-left: 15px;
      width: 263px;
      font-size: 12px;
    }
  }
  & label {
    color: $dark-green;
  }
  & .new-patient-form {
    border: none;
    border-bottom: 1px solid $dark-sand;
    margin-top: 2px;
    padding: 0 10px;
    border-radius: 25px;
    &:focus-visible {
      outline: 2px solid $light-sand;
      border-radius: 25px;
    }
  }
  & .form-btn {
    border-radius: 50px;
    border: none;
    padding: 0.5rem 1rem;
    color: $white;
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    &:hover {
      background-color: $my-gray;
    }
    &:focus {
      background-color: $my-gray;
      box-shadow: 0px 0px 10px 1px $my-gray;
    }
    &-submit {
      background-color: $dark-green;
      left: 514px;
    }
    &-reset {
      background-color: $dark-sand;
      right: 514px;
    }
  }
}
