@media screen and (min-width: 768px) {
  #patient-info-section {
    & .col-box {
      display: flex;
      flex-direction: row;
      & :nth-child(1) {
        order: 2;
      }
      & :nth-child(2) {
        order: 1;
      }
      & :nth-child(3) {
        order: 3;
      }
    }
  }
}

#patient-info-section {
  & h1 {
    font-size: 1.4rem;
    color: $main-blue;
    text-transform: uppercase;
    font-weight: bold;
  }

  & h6 {
    text-transform: uppercase;
    font-weight: bold;
    color: $dark-green;
  }
  & .contactInfo-box {
    & .info-container {
      background-color: rgba($light-sand, 30%);
      padding: 15px;
      h6 {
        font-size: 0.8rem;
        margin-bottom: 3px;
        color: $dark-sand;
      }
      p {
        margin-bottom: 15px;
        color: $dark-green;
      }
    }
  }
}

.patient-notes {
  width: 200px;
  height: 150px;
  overflow: auto;
}
