@mixin box-containers {
  background-color: rgba($light-sand, 30%);
  padding: 15px;
}

@mixin a-link($color: $dark-green, $background: $light-sand) {
  color: $color;
  background-color: $background;
  padding: 5px 15px;
  border-radius: 25px;
}

@mixin a-visited($color: $white, $background: $my-gray) {
  color: $color;
  background-color: $background;
}

@mixin a-hover($color: $main-blue, $background: $my-gray) {
  color: $color;
  background-color: $background;
}

@mixin a-active($color: $white, $bg-color: $dark-sand) {
  color: $color;
  background-color: $bg-color;
}

@media screen and (min-width: 768px) {
  #patient-info-section {
    & .col-box {
      display: flex;
      flex-direction: row;
      & :nth-child(1) {
        order: 2;
      }
      & :nth-child(2) {
        order: 1;
      }
      & :nth-child(3) {
        order: 3;
      }
    }
  }
}

#patient-info-section {
  & h1 {
    font-size: 1.4rem;
    color: $main-blue;
    text-transform: uppercase;
    font-weight: bold;
  }

  & h6 {
    text-transform: uppercase;
    font-weight: bold;
    color: $dark-green;
  }
  & .contactInfo-box,
  .patientInfo-box {
    @include box-containers;
    & .info-container {
      h6 {
        font-size: 0.8rem;
        margin-bottom: 3px;
        color: $dark-sand;
      }
      p {
        margin-bottom: 15px;
        color: $dark-green;
      }
    }
  }

  & .patientInfo-box,
  .info-container {
    @include box-containers;
    & .links-box a {
      font-size: 0.9rem;
      display: flex;
      align-items: center;
    }
    & .links-box h6 > a,
    a {
      text-decoration: none;
      &:link {
        @include a-link($color: $white, $background: $dark-green);
      }
      &:visited {
        @include a-visited;
      }
      &:hover {
        @include a-hover($color: $white, $background: $dark-sand);
      }
      &:active {
        @include a-active();
      }
    }
  }
}

.patient-notes {
  width: 200px;
  height: 150px;
  overflow: auto;
  background-color: $white;
}

#main-info-patient {
  & .title-box {
    background-color: rgba($light-sand, 30%);
  }
  & .diet-img-container {
    position: relative;
  }
  & img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  & h1 {
    position: absolute;
    top: 49%;
    color: $dark-green;
    background-color: rgba($white, 0.5);
    padding: 1%;
  }

  & .doctor-notes {
    max-width: 100%;
    height: 150px;
    overflow: auto;
    background-color: $white;
  }
}

.info-box {
  max-width: 350px;
  padding: 30px;
  background-color: rgba($light-sand, 30%);
  position: relative;
  & p {
    padding-left: 15px;
  }
  & p:nth-child(odd) {
    margin-top: 15px;
  }
  & p:nth-child(even) {
    margin-top: 8px;
    background-color: rgba($light-sand, 30%);
  }
  & p:last-child {
    margin-bottom: 15px;
  }
  & #logo-patient-info {
    max-width: 50px;
    max-width: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -30px;
  }
  & h2 {
    font-size: 1rem;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: bold;
  }
}

.go-back-link {
  position: relative;
  & a {
    text-decoration: none;
    position: absolute;
    bottom: 39px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    width: 150px;
    padding: 0.5rem 1rem !important;

    &:link {
      @include a-link($color: white, $background: $dark-green);
    }
    &:visited {
      @include a-visited($color: white, $background: $my-gray);
    }
    &:hover {
      @include a-hover($color: white, $background: $dark-sand);
    }
    &:active {
      @include a-active();
    }
  }
}
