@keyframes expand {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

#navigation {
  & .nav-container {
    padding: 30px;
  }

  & li.my-nav-link > a {
    display: block;
    padding: 0.5rem 1rem 0.2rem 1rem;
    color: $dark-green;
    text-decoration: none;
    transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out border-color 0.15s ease-in-out;

    &:visited {
      color: $my-gray;
    }

    &:hover {
      color: $dark-sand;
      position: relative;
      text-shadow: 0px 0px 12px $light-sand;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        animation: expand 0.5s ease-in-out;
        //transform: scaleX(0);
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: $main-blue;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
      }
    }
    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &:active {
      color: $black;
    }

    &.active {
      color: $dark-green !important;
      font-weight: bold;
      border-bottom: 2px solid black;
    }
  }
  & .doctor-name {
    padding: 8px;
  }

  & .log-in-out {
    font-size: 0.5rem;
    color: grey;
  }

  & .row:first-child {
    background-color: rgba($light-sand, 30%);
  }

  & .my-logo {
    max-width: 50px;
    max-height: 50px;
    & + p {
      color: $main-blue;
      font-weight: bold;
    }
  }
}
